@import "tailwindcss";


body{
    background: #0e0d0d;
/* background: radial-gradient(circle,rgb(230, 231, 233) 0%, rgba(252, 70, 107, 1) 100%); */
    font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}


.beneficio-card {
  @apply
    bg-white/10 backdrop-blur-md
    border border-white/20
    rounded-2xl
    p-6
    text-center text-white
    flex flex-col items-center gap-3
    shadow-lg shadow-black/30
    transition-all duration-300
    hover:scale-105 hover:bg-white/20;
}

.beneficio-card h3 {
  @apply text-lg font-semibold;
}

.beneficio-card p {
  @apply text-sm text-white/90;
}

.beneficio-card svg {
  @apply text-white drop-shadow-md;
}


@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    height: auto;
  }

  body * {
    display: none !important;
  }

  .print-area,
  .print-area * {
    display: block !important;
  }

  .print-area {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
}


