@import "tailwindcss";


body{
    background: #0e0d0d;
/* background: radial-gradient(circle,rgb(230, 231, 233) 0%, rgba(252, 70, 107, 1) 100%); */
    font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}


.beneficio-card {
  @apply
    bg-white/10 backdrop-blur-md
    border border-white/20
    rounded-2xl
    p-6
    text-center text-white
    flex flex-col items-center gap-3
    shadow-lg shadow-black/30
    transition-all duration-300
    hover:scale-105 hover:bg-white/20;
}

.beneficio-card h3 {
  @apply text-lg font-semibold;
}

.beneficio-card p {
  @apply text-sm text-white/90;
}

.beneficio-card svg {
  @apply text-white drop-shadow-md;
}


@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    background: white !important;
  }

  /* Ocultar todo */
  body * {
    visibility: hidden;
  }

  /* Mostrar SOLO el área de impresión */
  .print-area,
  .print-area * {
    visibility: visible;
  }

  /* Asegurar fondo blanco */
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white !important;
    color: black !important;
    padding: 24px;
  }

  /* Quitar sombras y fondos oscuros */
  .print-area * {
    box-shadow: none !important;
    background: transparent !important;
  }
}

.input {
  @apply bg-neutral-800 text-white px-4 py-3 rounded-xl outline-none border border-white/10 focus:border-pink-500 transition;
}
